*{
    margin: 0;
    padding: 0;
}
html,body{
    font-family: 'Lato', sans-serif;
}
.container {
    max-width: 1024px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 5px rgba(37, 35, 35, 0.178);
    border: solid 1px;
    color: #644227;
}

.main_photo{
    height: 400px;
    font-weight: 400px;
    box-shadow: 5px 5px 5px rgba(37, 35, 35, 0.178);
    margin: 10px;

}

.svg {
    font-weight: 40px;
    height: 40px;
}

.header {
    background-color: #f0eef3;
    border-bottom: solid 3px;
    color: #644227;
    display: flex;
    align-items: center;
    justify-content: center;
}
.colomn{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.left-colomn{
    display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
	height: 48%;
}
.rigth-colomn{
    display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
	height: 48%;
}
.left-colomn + .rigth-colomn {
	margin-left: 4%;
}

.text_decoration{
    list-style-type: none;
}
.space{
    padding-left: 25px;
}

article {
    display: inline-block;
    margin-top: 20px;
}

a {
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: large;
}

a:hover {
    text-decoration: underline;
}


h2 {
    padding: 30px;
    margin-top: 30px;
    color: #644227;
    font-size: xx-large;
    font-weight: bolder;
}
.title {
    font-style: oblique;
}

.underline {
    border-bottom: solid 5px;
    margin-top: 20px;
}

h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: x-large;
    font-weight: bolder;
    color: black;
    padding-left: 1em;
    margin-bottom: 10px;
}
h4 {
    font-size: large;
    color: black;
    font-weight: bold;
    margin-bottom: 5px;
}
li, p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: large;
    color: black;
}


